.logger {
    background-color: var(--main-background-color);
    display: flex;
    justify-content: center;
}

.logger__title {
    font-size: 2.5em;
    text-align: center;
    font-family: "Codystar";
}

.logger__form label * {
    font-size: 1.3em;
}

.logger__form {
    display: flex;
    flex-direction: column;
    background-color: var(--main-light-background);
    border-radius: 5px;
    width: 90vw;
    padding: 0 2vw;
}

.logger__form__buttons {
    display: flex;
    margin: 2vh 0;
}

.logger__form__button {
    font-family: "Nunito";
    align-self: center;
    margin: 1vh auto;
    padding: 1vh 0;
    width: 40vw;
    background-color: #fcfcfcc2;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.2em;
}

.logger__form__button.submitButton {
    color: var(--accent-dark-pink);
    border: 4px solid var(--accent-dark-pink);
}

.logger__form__button.backButton {
    text-align: center;
    text-decoration: none;
    color: #20b4bf;
    border: 4px solid  #20b4bf;
}

.logger__form__button:hover {
    color: #FFF;
    cursor: pointer;
}

.logger__form__button.backButton:hover {
    background-color: #20b4bf;
}

.logger__form__button.submitButton:hover {
    background-color: var(--accent-dark-pink);
}

.logger__form .MuiCheckbox-colorPrimary.Mui-checked {
    color: #20b4bf;
}

.logger__form__checkboxes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.logger__form__input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MuiFormControl-root.MuiTextField-root {
    width: 100%;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
    height: 70vh;
}

.logger__form__input .MuiFormLabel-root.Mui-focused, .logger__form__input div > .MuiOutlinedInput-notchedOutline {
    color: var(--accent-dark-pink);
    border-color: var(--accent-dark-pink);
}

@media only screen and (min-width: 700px) {
    .logger__form__input {
        display: flex;
        flex-direction: row;
    }

    .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl {
        height: 100%;
    }

    .MuiFormControl-root.MuiTextField-root {
        width: 50%;
    }
}