@import '../App/App.css';

.tracker__days, .tracker__rules {
    height: auto;
    width: 90vw;
    margin: 0 auto;
    border-radius: 10px;
}

.tracker {
    flex-direction: column;
    align-items: center;
}

.tracker, .tracker__days, .tracker__rules__ruleset {
    display: flex;
}

.tracker__days {
    flex-wrap: wrap;
}

.tracker__rules {
    margin: 5vh 0;
    padding: 0 2vw;
    background-color: #e1e1e1d4;
}

.tracker__rules__rule {
    width: 50%;
    font-size: 1.2em;
    color: var(--main-text-color);
}

.tracker__rules__ruleset {
    flex-wrap: wrap;
}

.tracker__rules__title {
    font-family: "Codystar";
    letter-spacing: 0.25em;
    text-align: center;
    font-size: 2em;
}