@import url('https://fonts.googleapis.com/css2?family=Codystar&family=Megrim&display=swap');

.header__title {
    font-size: 3em;
    margin-top: 0;
    padding-top: 5vh;
    text-align: center;
    font-family: "Codystar", "Arial";
    letter-spacing: 0.4em;
    background: -webkit-linear-gradient(#FFF, #b1ebe7, #63ebe2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}