.completeRule {
    color: #35c794;
}

.incompleteRule {
    color: #bbbbbb;
}

.modal__title {
    font-family: "Codystar";
    text-align: center;
    font-size: 2em;
    margin: 1vh 0;
}

.notes__notes {
    margin-top: 5vh;
    color: #425f72;
}

.notes__title {
    letter-spacing: 0.25em;
    font-weight: bold;
}