.trackerDay {
    width: 10vh;
    height: 10vh;
    background-color: #f2f2f26b;
    border-radius: 5px;
    margin: 1vh 0.5vw;
}

.trackerDay__number {
    font-size: 2em;
    text-align: center;
    line-height: 50%;
}